 Zeitanalyse
 ======
 
 Mit diesem Python Notebook ist es möglich, dass zeitliche Verhalten einer Serienaufnahme der Android Anwendung "Fahrradwege Monotring App" zu untersuchen.  
 Ziel ist es zu berechnen wie viele Bilder in einer Serienaufnahme pro Sekunde aufgenommen wurden.  
 Des Weiteren ist es möglich die längste Zeitspanne zwischen  zwei Aufnahmen innerhalb einer Serienaufnahme zu ermitteln.

Bilder pro Sekunde in einer Serienaufnahme

Um die Anzahl der Bilder pro Sekunde zu berechnen ist es wichtig, dass diese kontinuierlich in kurzen Zeitabschnitten  
aufgenommen wurden. In der Android habe ich einen Schwellenwert implementiert damit keine Aufnahmen gemacht werden,  
wenn eine bestimmte Geschwindikeit nicht überschritten wurde. Dies ist relevant um keine Aufnahme zu machen falls  
ein Fahrrad steht während die Anwendung läuft.

In [13]:
import pandas

In [14]:
# Startindex der Features eines Fotos   
startIndex = 0
# Stop Index 
stopIndex = 1198

# Öfnne die Datei features.csv. Der Path muss mit angegeben werden
featuresDf = pandas.read_csv(filepath_or_buffer="features.csv")

In [15]:
featuresDf.describe()

,Unnamed: 0,Unnamed: 0.1,1517406329935,53.613636,53.613636.1,2.43,Klasse
count,1999.000000,1999.000000,1.999000e+03,1999.000000,1999.000000,1999.000000,1999.000000
mean,999.000000,999.000000,1.517406e+12,53.613701,53.613701,13.016485,1.332666
std,577.205914,577.205914,5.997987e+04,0.000245,0.000245,2.892050,0.471286
min,0.000000,0.000000,1.517406e+12,53.613117,53.613117,4.860000,1.000000
25%,499.500000,499.500000,1.517406e+12,53.613630,53.613630,10.944000,1.000000
50%,999.000000,999.000000,1.517406e+12,53.613815,53.613815,13.644000,1.000000
75%,1498.500000,1498.500000,1.517407e+12,53.613865,53.613865,15.336000,2.000000
max,1998.000000,1998.000000,1.517407e+12,53.613937,53.613937,19.691998,2.000000

In [16]:
# Andzahl der Einträge
featuresDf.index

RangeIndex(start=0, stop=1999, step=1)

In [17]:
# Namen der Spalten 
featuresDf.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', '1517406329935', '53.613636',
       '53.613636.1', '2.43', 'Klasse'],
      dtype='object')

In [18]:
i = startIndex
firstMs = featuresDf.iat[i,0]
lastValueMs = firstMs
valueMs = 0
# Zeitliche Differenz zwischen zwei Aufnahmen
differenceValueTemp = 0
# Max Differenz, welche unter der variablen thresholdMax liegt 
maxDifference = 0
# Index mit der maxDifference
maxDifferenceIndex = 0
# Maximale gültige Zeit zwischen zwei Bildern in ms 
thresholdMax = 1000
# Das erste Bild wird nicht mit einbezogen in die Berechnung
imageCounter = -1

while i <= stopIndex:
    valueMs = featuresDf.iat[i,0]
    differenceValueTemp = valueMs - lastValueMs
    if (differenceValueTemp) > thresholdMax:  # Wenn Schwellwert zwischen zwei Bildern überschritten ist, ..
        break                                   # dann breche Schleife ab.
    if differenceValueTemp > maxDifference:
        maxDifference = differenceValueTemp
        maxDifferenceIndex = i
    sum =+ (featuresDf.iat[i,0] - firstMs)
    i =  i + 1
    imageCounter = imageCounter + 1
    lastValueMs = valueMs

In [19]:
meanMs = sum/imageCounter
imagesPerSecond = imageCounter/(sum/1000)

In [20]:
print("Anzahl der Bilder: " + str(imageCounter) + "\n" +
    "Mittelwert: " + str(meanMs) + "ms pro Aufnahme" + "\n" +
    "Bilder pro Sekunde: " + str(imagesPerSecond) + "\n" +
     "Maximale gültige Zeitdifferenz zwischen zwei Aufnahmen: " + str(maxDifference) +  "ms" + 
     " (Bild Nr.: " + str(maxDifferenceIndex) + ")" )

Anzahl der Bilder: 1198
Mittelwert: 1.0ms pro Aufnahme
Bilder pro Sekunde: 1000.0
Maximale gültige Zeitdifferenz zwischen zwei Aufnahmen: 1ms (Bild Nr.: 1)