 Zeitanalyse
 ======
 
 Mit diesem Python Notebook ist es möglich, dass zeitliche Verhalten einer Serienaufnahme der Android Anwendung "Fahrradwege Monotring App" zu untersuchen.  
 Ziel ist es zu berechnen wie viele Bilder in einer Serienaufnahme pro Sekunde aufgenommen wurden.  
 Des Weiteren ist es möglich die längste Zeitspanne zwischen  zwei Aufnahmen innerhalb einer Serienaufnahme zu ermitteln.

Bilder pro Sekunde in einer Serienaufnahme
------

Um die Anzahl der Bilder pro Sekunde zu berechnen ist es wichtig, dass diese kontinuierlich in kurzen Zeitabschnitten  
aufgenommen wurden. In der Android habe ich einen Schwellenwert implementiert damit keine Aufnahmen gemacht werden,  
wenn eine bestimmte Geschwindikeit nicht überschritten wurde. Dies ist relevant um keine Aufnahme zu machen falls  
ein Fahrrad steht während die Anwendung läuft.

In [193]:
import pandas

In [256]:
# Startindex der Features eines Fotos   
startIndex = 200
# Stop Index 
stopIndex = 1999

# Öfnne die Datei features.csv. Der Path muss angegeben werden
featuresDf = pandas.read_csv(filepath_or_buffer="features.csv")

In [249]:
featuresDf.describe()

       1517406563307    53.613293  53.613293.1       14.472
count   1.999000e+03  1999.000000  1999.000000  1999.000000
mean    1.517407e+12    53.614035    53.614035    13.250638
std     7.429086e+04     0.000336     0.000336     3.425284
min     1.517407e+12    53.613293    53.613293     4.176000
25%     1.517407e+12    53.613754    53.613754    11.736000
50%     1.517407e+12    53.614094    53.614094    13.625999
75%     1.517407e+12    53.614273    53.614273    15.606000
max     1.517407e+12    53.614550    53.614550    20.736000

In [250]:
# Andzahl der Einträge
featuresDf.index

RangeIndex(start=0, stop=1999, step=1)

In [251]:
# Namen der Spalten
featuresDf.columns

Index(['1517406563307', '53.613293', '53.613293.1', '14.472'], dtype='object')

In [257]:
i = startIndex
firstMs = featuresDf.iat[i,0]
# Das erste Bild wird nicht mit einbezogen in die Berechnung
imageCounter = -1
lastValueMs = firstMs 
valueMs = 0
while i <= stopIndex:
    valueMs = featuresDf.iat[i,0]
    if (valueMs - lastValueMs) > 1000:
        break
    sum =+ (featuresDf.iat[i,0] - firstMs)
    i =  i + 1
    imageCounter = imageCounter + 1
    lastValueMs = valueMs

In [258]:
meanMs = sum/imageCounter
imagesPerSecond = imageCounter/(sum/1000)

In [259]:
print("Anzahl der Bilder: " + str(imageCounter) + "\n" +
    "Mittelwert: " + str(meanMs) + "ms pro Aufnahme" + "\n" +
    "Bilder pro Sekunde: " + str(imagesPerSecond))

Anzahl der Bilder: 1042
Mittelwert: 93.3061420345ms pro Aufnahme
Bilder pro Sekunde: 10.7174080741