## Berechnungen von Merkmalen

In diesem Notebook ist es möglich den Mittelwert, Varianz und Standardabweichung für die aufgenommenen Messwerte aus der Datei "merkmaleRoh.csv" der Android TM Fahrradwege Monitoring App zu berechnen. Zu einem Bild werden parallel Messwerte erfasst von dem Beschleunigungssensor und Magnetsensor des Smartphones, innerhalb eines Zeitfenster mit einer Länge von 80ms (siehe hierzu auch das Notebook "gatheringSequence" in dem Ordner datenvisualisierung). Bei dem Beschleunigungssensor sind dies die Messwerte der beschleunigung von den 3-Achsen X, Y sowie Z (Abb. 1). Des Weiteren werden die Gier-Nick-Roll Winkel in rad in einem Zeitfenster erfasst. Für die Berechnung des Mittelwerts, Varianz und Standardabweichung über die Messwerte wird die Form der abgespeicherten Messwerte geändert, weil diese als Python Objekte verwaltet werden mit welchen nicht gerechnet werden kann. Zu den Messwertreihen wird jeweils eine CSV Datei erstellt. Eine Reihe stellt dann in dieser Datei eine Messreihe zu einem Zeitfenster dar. Bei der ausführung dieses Notebooks werden deshalb zusätzlich folgende CSV Dateien erstellt:

X-Achse Beschleunigungswerte in m/s^2   
Y-Achse Beschleunigungswerte in m/s^2  
Z-Achse Beschleunigungswerte in m/s^2   
Gier Messwerte in rad  
Nick Messwerte in rad  
Roll Messwerte in rad   
Zeitstempel der Messwerte in ns  

![alt text][logo]
[logo]: https://developer.android.com/images/axis_device.png "Logo Title Text 2"
Abbildung 1: 3-Achsen Smartphone Sensor-Koordinatensystem   
Quelle: https://developer.android.com/images/axis_device.png

In [1]:
import pandas
import numpy as np
import numpy.testing as npt
import math
import os

In [2]:
featuresDf = pandas.read_csv("../daten/merkmale_datensatz_15_bis__22/merkmaleRoh.csv")
featuresDf.describe()

,Zeitstempel in Unixzeit,Anzahl der Messwerte,Belichtungszeit in ns,Breitengrad,Geschwindigkeit in km/h,Hoehe in m ueber WGS 84,Laengengrad,Letzter Zeitstempel der Messwerterfassung in ns seit Start der JVM,Start der Belichtung in ns seit Start der JVM,Start der Messwerterfassung in ns seit Start der JVM,Start des Zeitfensters in ns seit Start der JVM,Stopp der Messwerterfassung in Unixzeit
count,1.009970e+05,100997.000000,1.009970e+05,100997.000000,100997.000000,1935.000000,100997.000000,5.116500e+04,1.009970e+05,1.009970e+05,1.009970e+05,5.116500e+04
mean,1.521788e+12,19.369486,1.628067e+07,53.600818,14.825318,70.983613,10.117377,6.609566e+13,7.110740e+13,7.110731e+13,7.110737e+13,1.522338e+12
std,6.253291e+08,0.637294,1.007028e+07,0.026176,3.788162,2.540434,0.064368,6.624152e+13,5.257455e+13,5.257455e+13,5.257455e+13,3.923149e+08
min,1.521124e+12,5.000000,6.435000e+05,53.533375,5.004000,64.299440,9.853853,7.500496e+12,7.500366e+12,7.500275e+12,7.500341e+12,1.521815e+12
25%,1.521212e+12,19.000000,8.963045e+06,53.582508,12.348000,69.145140,10.096094,1.369181e+13,3.100722e+13,3.100713e+13,3.100718e+13,1.521906e+12
50%,1.521815e+12,19.000000,1.000184e+07,53.607080,15.191999,71.069275,10.128578,3.203458e+13,4.411367e+13,4.411357e+13,4.411363e+13,1.522248e+12
75%,1.522248e+12,20.000000,2.999632e+07,53.614410,17.531998,72.942380,10.156504,1.705849e+14,1.087626e+14,1.087624e+14,1.087625e+14,1.522584e+12
max,1.523024e+12,48.000000,3.287369e+07,53.656776,24.948000,77.023680,10.229659,1.762332e+14,1.762331e+14,1.762330e+14,1.762330e+14,1.523024e+12

In [3]:
featuresDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100997 entries, 0 to 100996
Data columns (total 19 columns):
Zeitstempel in Unixzeit                                               100997 non-null int64
Anzahl der Messwerte                                                  100997 non-null int64
Belichtungszeit in ns                                                 100997 non-null int64
Breitengrad                                                           100997 non-null float64
Geschwindigkeit in km/h                                               100997 non-null float64
Gier Messwerte in rad                                                 100997 non-null object
Hoehe in m ueber WGS 84                                               1935 non-null float64
Laengengrad                                                           100997 non-null float64
Letzter Zeitstempel der Messwerterfassung in ns seit Start der JVM    51165 non-null float64
Nick Messwerte in rad                                                 100997 non-null object
Roll Messwerte in rad                                                 100997 non-null object
Start der Belichtung in ns seit Start der JVM                         100997 non-null int64
Start der Messwerterfassung in ns seit Start der JVM                  100997 non-null int64
Start des Zeitfensters in ns seit Start der JVM                       100997 non-null int64
Stopp der Messwerterfassung in Unixzeit                               51165 non-null float64
X-Achse Beschleunigungswerte in m/s^2                                 100997 non-null object
Y-Achse Beschleunigungswerte in m/s^2                                 100997 non-null object
Z-Achse Beschleunigungswerte in m/s^2                                 100997 non-null object
Zeitstempel der Messwerte in ns                                       100997 non-null object
dtypes: float64(6), int64(6), object(7)
memory usage: 14.6+ MB

In [4]:
# Zeigt die ersten 5 Reihen Beschleunigungssensordaten der X-Achse 
featuresDf['X-Achse Beschleunigungswerte in m/s^2'].head()

0    0.66929 0.81137 0.75647 0.22221 -0.14389 -0.13...
1    0.2285 0.13695 0.37016 0.08172 -0.05709 0.3834...
2    -2.72057 3.72297 3.37689 -1.28232 -0.90316 0.4...
3    -0.06289 0.54739 0.6219 -1.35643 -0.54872 0.28...
4    -0.5752 -1.41006 -1.3118 -0.58965 -1.32969 0.6...
Name: X-Achse Beschleunigungswerte in m/s^2, dtype: object

In [21]:
# Die Anzahl der Messwerte sollte immer gleich sein, ansonsten werden fehlende Spalten mit NaN Werten gefüllt bei der
# späteren Abspeicherung der erfassten Messwerte wie z.B. in die Datei x-Achse-Beschleunigungswerte.csv.
# Um die Berechnung von den Merkmalen Varianz und Mittelwert unteranderem zu beschleunigen ist es wichtig sogenannte Außenseiter
# aus den Datensätzen zu entfernen.
# Dafür muss auch das Bild zu einer Reihe aus der merkmaleRoh.csv Datei gelöscht werden.
# Dies wird erreicht indem alle Pfade der Bilder geladen werden.
# Dann können Reihen sowie Bilder gelöscht werden mit mehr Messwerten als ein bestimmter Grenzwert.
print(featuresDf['Anzahl der Messwerte'][featuresDf['Anzahl der Messwerte'] > 23])

################### Entferne Außenseiter mit Anzahl der Messwerte > Grenzwert ###################
imagePaths = []
# Hier können die Datensätze ausgewählt werden
datasets = ['15','16','17','18','19','20','21','22']
# Die Pfade zu den Ordnern in welchem sich die Bilder befinden
paths = []
for dataset in datasets: # Für jeden Datensatz merke Pfad
    paths.append("C:/Users/morro/Documents/datenRoh/" + dataset + "/zugeschnitten/")
for path in paths: # Für jeden Pfad hole die Namen der Ordner
    folders = os.listdir(path)
    for folder in folders: # Aus der Liste der Ordner wird ein Ordner ausgewählt
        filesPath = path + folder + "/"
        files = os.listdir(filesPath)
        for name in files: # Ein Dateiname aus diesem Ordner
            if "jpg" not in name:
                continue
            imagePaths.append(filesPath + name) # Path wird geladen in Liste
#os.remove()

14959    24
35516    48
35525    28
45468    47
52621    24
54376    24
54719    24
55901    40
56033    24
59055    24
59514    24
59990    38
60418    24
62192    25
64457    28
64506    24
68134    24
80666    24
94258    27
95849    24
97012    43
Name: Anzahl der Messwerte, dtype: int64

In [24]:
toRemoveImagesIndex = featuresDf['Anzahl der Messwerte'][featuresDf['Anzahl der Messwerte'] > 23]

In [29]:
toRemoveImagesIndex[:,]

14959    24
35516    48
35525    28
45468    47
52621    24
54376    24
54719    24
55901    40
56033    24
59055    24
59514    24
59990    38
60418    24
62192    25
64457    28
64506    24
68134    24
80666    24
94258    27
95849    24
97012    43
Name: Anzahl der Messwerte, dtype: int64

Die folgenden Spalten des Datenframes haben als Type ein Python object.   
X-Achse Beschleunigungswerte in m/s^2   
Y-Achse Beschleunigungswerte in m/s^2   
Z-Achse Beschleunigungswerte in m/s^2   
Gier Messwerte in rad    
Nick Messwerte in rad          
Roll Messwerte in rad                   
Zeitstempel der Messwerte in ns               
Implizit haben diese Spalten als Typ Strings. Aber in einem DataFrame werden Strings als    
Python objects erkannt. Um den Datentyp auf float zu casten wird aus den Spalten zunächst ein Liste erstellt.    
Welche dann wiederum als Numpy Array auf den Typ float konvertiert wird.

In [5]:
accXList = featuresDf['X-Achse Beschleunigungswerte in m/s^2'].str.split(" ").tolist()

In [6]:
# Direkt mit dem Numpy Array ist es nicht möglich die Konvertierung durchzuführen, weil die Arrays von Typ object sind.   
pandas.DataFrame(featuresDf['X-Achse Beschleunigungswerte in m/s^2'].str.split(" ")).values

array([[list(['0.66929', '0.81137', '0.75647', '0.22221', '-0.14389', '-0.13032', '-0.34931', '-0.26401', '-0.349', '-0.41699', '-0.27218', '-0.38619', '-0.29352', '-0.46454', '-0.47877', '-0.3829', '-0.13767', '-0.11002', '0.01936', '0.27609'])],
       [list(['0.2285', '0.13695', '0.37016', '0.08172', '-0.05709', '0.38348', '-0.27536', '-0.6339', '0.21317', '-0.05919', '-0.44563', '-0.78543', '-0.52098', '-1.10619', '-0.19531', '-0.7384', '-0.60594', '-0.54593', '0.00775', '-0.26951'])],
       [list(['-2.72057', '3.72297', '3.37689', '-1.28232', '-0.90316', '0.47276', '0.60817', '1.13021', '1.93092', '0.62547', '-2.50279', '-0.54644', '0.81943', '-0.67742', '-0.06682', '-0.23722', '0.45391', '1.206', '1.94558', '2.88967'])],
       ...,
       [list(['0.05452', '-0.24745', '-0.44306', '-0.43098', '-0.16084', '-0.18989', '0.10864', '0.05635', '0.45887', '0.81153', '0.83317', '0.89645', '0.67126', '-0.13713', '-0.40077', '-0.19796', '0.34737', '0.43119', '0.45229', '0.10141'])],
       [list(['-0.04052', '0.42735', '0.78631', '0.62912', '0.36547', '0.09325', '-0.32373', '-0.13633', '-0.43077', '-0.32922', '0.04315', '-0.48638', '-0.23581', '-0.24987', '0.27519', '0.542', '-0.20988', '-0.52026'])],
       [list(['0.3773', '0.16401', '-0.0526', '0.01929', '0.10744', '0.13199', '-0.29273', '-0.06556', '-0.00641', '0.07156', '0.25652', '0.17463', '-0.12071', '-0.24972', '0.01481', '-0.01872', '-0.12217', '-0.45009', '-0.26806'])]],
      dtype=object)

In [7]:
accXList[1] # zeige Liste

['0.2285',
 '0.13695',
 '0.37016',
 '0.08172',
 '-0.05709',
 '0.38348',
 '-0.27536',
 '-0.6339',
 '0.21317',
 '-0.05919',
 '-0.44563',
 '-0.78543',
 '-0.52098',
 '-1.10619',
 '-0.19531',
 '-0.7384',
 '-0.60594',
 '-0.54593',
 '0.00775',
 '-0.26951']

In [8]:
np.array(accXList[1]).dtype

dtype('<U8')

In [9]:
# Konvertiert die Python Objekte in der Liste zu den Type Float.
# Das Ergebnis wird in einem Dataframe geschrieben
accList = []
accList.append(pandas.DataFrame(np.array(accXList[0]).astype(float)).transpose())
for x in accXList[1:]:
    accList.append(pandas.DataFrame(np.array(x).astype(float)).transpose())

In [10]:
accXDf = pandas.concat(accList, ignore_index=True)

In [11]:
accXDf.head()

,0,1,2,3,4,5,6,7,8,9,...,38,39,40,41,42,43,44,45,46,47
0,0.66929,0.81137,0.75647,0.22221,-0.14389,-0.13032,-0.34931,-0.26401,-0.34900,-0.41699,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.22850,0.13695,0.37016,0.08172,-0.05709,0.38348,-0.27536,-0.63390,0.21317,-0.05919,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-2.72057,3.72297,3.37689,-1.28232,-0.90316,0.47276,0.60817,1.13021,1.93092,0.62547,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,-0.06289,0.54739,0.62190,-1.35643,-0.54872,0.28130,0.57759,0.60009,1.49150,1.49977,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,-0.57520,-1.41006,-1.31180,-0.58965,-1.32969,0.65253,1.15038,-0.27477,-0.61810,0.01130,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
# Um mehr Spalten eines Panda DataFrames auszugeben
pandas.set_option('display.max_columns', 40)
accXDf.abs().T.mean().head(20)

0     0.346705
1     0.383030
2     1.405936
3     1.164702
4     0.807528
5     0.764234
6     0.498969
7     0.738315
8     0.590494
9     1.795119
10    0.580487
11    0.649191
12    1.029057
13    1.593236
14    1.105828
15    1.123956
16    0.568256
17    0.652359
18    0.480085
19    0.510043
dtype: float64

In [13]:
accXDf.shape

(100997, 48)

In [15]:
# ausführen wenn alle Daten die gleiche Ahnzahl an Messwerten haben sollen. 
# Dadurch werden Reihen gelöscht!
unwantedRows = featuresDf['Anzahl der Messwerte'][featuresDf['Anzahl der Messwerte'] != 20]
featuresDf.drop(featuresDf.index, axis=0)

Empty DataFrame
Columns: [Zeitstempel in Unixzeit, Breitengrad, Laengengrad, Geschwindigkeit in km/h, X-Achse Beschleunigungswerte in m/s^2, Y-Achse Beschleunigungswerte in m/s^2, Z-Achse Beschleunigungswerte in m/s^2, Gier Messwerte in rad, Nick Messwerte in rad, Roll Messwerte in rad, Zeitstempel der Messwerte in ns, Anzahl der Messwerte, Start des Zeitfensters in ns seit Start der JVM, Start der Messwerterfassung in ns seit Start der JVM, Start der Belichtung in ns seit Start der JVM, Belichtungszeit in ns, Letzter Zeitstempel der Messwerterfassung in ns seit Start der JVM, Stopp der Messwerterfassung in Unixzeit]
Index: []

In [16]:
accYList = featuresDf['Y-Achse Beschleunigungswerte in m/s^2'].str.split(" ").tolist()
accList = []
accList.append(pandas.DataFrame(np.array(accYList[0]).astype(float)).transpose())
for x in accYList[1:]:
    accList.append(pandas.DataFrame(np.array(x).astype(float)).transpose())
accYDf = pandas.concat(accList, ignore_index=True)

In [17]:
accYDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8972 entries, 0 to 8971
Data columns (total 43 columns):
0     8972 non-null float64
1     8972 non-null float64
2     8972 non-null float64
3     8972 non-null float64
4     8972 non-null float64
5     8971 non-null float64
6     8971 non-null float64
7     8971 non-null float64
8     8971 non-null float64
9     8971 non-null float64
10    8971 non-null float64
11    8971 non-null float64
12    8971 non-null float64
13    8971 non-null float64
14    8970 non-null float64
15    8970 non-null float64
16    8969 non-null float64
17    8947 non-null float64
18    8188 non-null float64
19    1904 non-null float64
20    35 non-null float64
21    9 non-null float64
22    4 non-null float64
23    3 non-null float64
24    2 non-null float64
25    2 non-null float64
26    2 non-null float64
27    1 non-null float64
28    1 non-null float64
29    1 non-null float64
30    1 non-null float64
31    1 non-null float64
32    1 non-null float64
33    1 non-null float64
34    1 non-null float64
35    1 non-null float64
36    1 non-null float64
37    1 non-null float64
38    1 non-null float64
39    1 non-null float64
40    1 non-null float64
41    1 non-null float64
42    1 non-null float64
dtypes: float64(43)
memory usage: 2.9 MB

In [18]:
accYDf.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,...,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42
0,-0.39891,-1.83615,-1.17784,-1.57057,-0.64358,0.37380,1.50949,1.95836,1.61260,0.38598,-0.47274,-0.40889,-1.15461,-1.18423,-1.08534,1.73656,1.60372,-0.61712,0.53289,0.47221,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-0.05398,-0.28840,-1.59451,-1.12244,-0.42300,0.48899,0.54436,0.58867,0.60878,0.60955,0.30371,-0.63048,-1.14801,-1.20960,-0.55401,0.10836,0.25519,-0.24027,0.80372,0.45904,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.25695,-0.06710,-0.29890,0.58825,1.86493,-0.74524,-3.40034,-2.19935,0.89133,0.88155,0.12292,-0.28479,-0.45773,-2.25096,-2.18389,-1.80846,-0.84924,-0.12781,0.84771,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.86116,0.41307,-0.43575,-0.45591,0.40136,1.24040,0.34871,-1.39129,-1.25099,0.74597,0.61204,-0.76690,-0.50632,0.11588,-0.93399,-2.80052,-2.36305,0.13212,1.25486,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,-1.12954,-4.36667,-4.39744,-3.45672,-0.16053,6.10793,5.89761,0.12116,-4.53063,-5.12621,-6.06235,-3.59347,1.32365,1.91694,1.85529,1.83659,1.10147,0.29886,-0.69567,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
# Konvertiere Beschleunigungssensordaten Z-Achse zu einem DataFrame
measuredDataList = featuresDf['Z-Achse Beschleunigungswerte in m/s^2'].str.split(" ").tolist()
accList = []
accList.append(pandas.DataFrame(np.array(measuredDataList[0]).astype(float)).transpose())
for x in measuredDataList[1:]:
    accList.append(pandas.DataFrame(np.array(x).astype(float)).transpose())
accZDf = pandas.concat(accList, ignore_index=True)

In [20]:
# Konvertiere Nick Messwerte zu DataFrame
measuredDataList = featuresDf['Nick Messwerte in rad'].str.split(" ").tolist()
pitchList = []
pitchList.append(pandas.DataFrame(np.array(measuredDataList[0]).astype(float)).transpose())
for x in measuredDataList[1:]:
    pitchList.append(pandas.DataFrame(np.array(x).astype(float)).transpose())
nickDf = pandas.concat(pitchList, ignore_index=True)

In [21]:
# Konvertiere Roll Messwerte zu DataFrame
measuredDataList = featuresDf['Roll Messwerte in rad'].str.split(" ").tolist()
rollList = []
rollList.append(pandas.DataFrame(np.array(measuredDataList[0]).astype(float)).transpose())
for x in measuredDataList[1:]:
    rollList.append(pandas.DataFrame(np.array(x).astype(float)).transpose())
rollDf = pandas.concat(rollList, ignore_index=True)

In [22]:
measuredDataList = featuresDf['Gier Messwerte in rad'].str.split(" ").tolist()
azimuthList = []
azimuthList.append(pandas.DataFrame(np.array(measuredDataList[0]).astype(float)).transpose())
for x in measuredDataList[1:]:
    azimuthList.append(pandas.DataFrame(np.array(x).astype(float)).transpose())
azimuthDf = pandas.concat(azimuthList, ignore_index=True)

In [23]:
measuredDataList = featuresDf['Zeitstempel der Messwerte in ns'].str.split(" ").tolist()
timestampsList = []
timestampsList.append(pandas.DataFrame(np.array(measuredDataList[0]).astype(float)).transpose())
for x in measuredDataList[1:]:
    timestampsList.append(pandas.DataFrame(np.array(x).astype(float)).transpose())
sensorTimestampsDf = pandas.concat(timestampsList, ignore_index=True)

In [24]:
accXMean = accXDf.abs().T.mean()
accXMean.head(2)

0    0.543271
1    0.346206
dtype: float64

In [25]:
accYDf.abs().T.mean().head()

0    1.036779
1    0.601754
2    1.111971
3    0.896331
4    2.840986
dtype: float64

In [26]:
# Neue Spalten werden erstellt und Mittelwerte zugewiesen
featuresDf['Mittelwert X-Achse Beschleunigung in m/s^2'] = accXMean
featuresDf['Mittelwert Y-Achse Beschleunigung in m/s^2'] = accYDf.abs().T.mean()
featuresDf['Mittelwert Z-Achse Beschleunigung in m/s^2'] = accZDf.abs().T.mean()
featuresDf['Mittelwert Nick in rad'] = nickDf.abs().T.mean()
featuresDf['Mittelwert Roll in rad'] = rollDf.abs().T.mean()

In [27]:
featuresDf['Mittelwert X-Achse Beschleunigung in m/s^2'].head(2)

0    0.543271
1    0.346206
Name: Mittelwert X-Achse Beschleunigung in m/s^2, dtype: float64

In [28]:
featuresDf.columns

Index(['Zeitstempel in Unixzeit', 'Breitengrad', 'Laengengrad',
       'Geschwindigkeit in km/h', 'X-Achse Beschleunigungswerte in m/s^2',
       'Y-Achse Beschleunigungswerte in m/s^2',
       'Z-Achse Beschleunigungswerte in m/s^2', 'Gier Messwerte in rad',
       'Nick Messwerte in rad', 'Roll Messwerte in rad',
       'Zeitstempel der Messwerte in ns', 'Anzahl der Messwerte',
       'Start des Zeitfensters in ns seit Start der JVM',
       'Start der Messwerterfassung in ns seit Start der JVM',
       'Start der Belichtung in ns seit Start der JVM',
       'Belichtungszeit in ns',
       'Letzter Zeitstempel der Messwerterfassung in ns seit Start der JVM',
       'Stopp der Messwerterfassung in Unixzeit',
       'Mittelwert X-Achse Beschleunigung in m/s^2',
       'Mittelwert Y-Achse Beschleunigung in m/s^2',
       'Mittelwert Z-Achse Beschleunigung in m/s^2', 'Mittelwert Nick in rad',
       'Mittelwert Roll in rad'],
      dtype='object')

Berechnet die Varianz. Dieser Funktion muss als Paramter der Mittelwert (mean) und der DataFrame mit   
den Float Werten übergeben werden, um die Varianz zu berechnen. Als Varianz wird der Durchschnitt der quadrierten  
Differenzen zum Mittelwert bezeichnet.   
Prec.:    
Postc.: Gibt die berechnete Variance als Float zurück oder 0 wenn die Anzahl der Werte <= 0

In [29]:
def calcVariance(meansDf, dfValues):
    variance = []
    for i, values in dfValues.iterrows():
        sum = 0
        for value in values:
            if math.isnan(value) == False:
                tempDifference = value-meansDf[i]
                sum += tempDifference * tempDifference
        variance.append("{0:.5f}".format(round(sum / values.count(),5)))
    return np.array(variance).astype(float)

Hier wird die Standardabweichung der Varianz berechnet. Dies ist die Wurzel der Varianz.   
Für die Berechnung wird der Absolutwert von der Varianz genommen.    
Prec.:
Postc.:  Standardabweichung wird zurückgegeben.

In [30]:
def calculateStandardDeviation(varianceDf):
    deviation = []
    for v in varianceDf:
        temp = math.sqrt(np.abs(v))
        deviation.append("{0:.5f}".format(round(temp,5)))
    return np.array(deviation).astype(float)

Die Funktion berechnet die Winkeldifferenz in rad zwischen den ersten gemessenen Gierwinkel und den letzten Gierwinkel   
innerhalb einer als Argument übergebenen DataFrames. Der zurückgegebene Radiant    
ist immer positiv und gibt die relative änderung in rad an.      
Prec.:   
Postc.: Radiant berechnet

In [31]:
def calculateAngelChangeAzimuth(azimuthDf):
    result = []
    for i,values in azimuthDf.iterrows():
        first = values[0]*(180/math.pi)
        last = values.iloc[values.count()-1]*(180/math.pi)
        resultTemp = np.abs(first - last)
        if(resultTemp > 180):
            resultTemp = 360 - resultTemp
        result.append("{0:.5f}".format(round(resultTemp * ( math.pi / 180),5)))
    return np.array(result).astype(float)

In [32]:
featuresDf['Gier-Aenderung in rad'] = calculateAngelChangeAzimuth(azimuthDf)

In [33]:
# Berechnung der Varianzen und hinzufügen der Ergebnisse als neue Spalte in dem DataFrame 
featuresDf['Varianz X-Achse Beschleunigung in m/s^2'] = calcVariance(featuresDf['Mittelwert X-Achse Beschleunigung in m/s^2'],accXDf)
featuresDf['Varianz Y-Achse Beschleunigung in m/s^2'] = calcVariance(featuresDf['Mittelwert Y-Achse Beschleunigung in m/s^2'],accYDf)
featuresDf['Varianz Z-Achse Beschleunigung in m/s^2'] = calcVariance(featuresDf['Mittelwert Z-Achse Beschleunigung in m/s^2'],accZDf)
featuresDf['Varianz Nick in rad'] = calcVariance(featuresDf['Mittelwert Nick in rad'],nickDf)
featuresDf['Varianz Roll in rad'] = calcVariance(featuresDf['Mittelwert Roll in rad'],rollDf)

In [34]:
featuresDf['Varianz X-Achse Beschleunigung in m/s^2'].head()

0    0.24436
1    0.32940
2    1.35824
3    1.42913
4    5.01102
Name: Varianz X-Achse Beschleunigung in m/s^2, dtype: float64

In [35]:
calculateStandardDeviation(featuresDf['Varianz X-Achse Beschleunigung in m/s^2'])

array([0.49433, 0.57393, 1.16544, ..., 0.47966, 0.51355, 0.26406])

In [36]:
# Berechne Standardabweichung
featuresDf['Standardabweichung X-Achse Beschleunigung in m/s^2'] = calculateStandardDeviation(featuresDf['Varianz X-Achse Beschleunigung in m/s^2'])
featuresDf['Standardabweichung Y-Achse Beschleunigung in m/s^2'] = calculateStandardDeviation(featuresDf['Varianz Y-Achse Beschleunigung in m/s^2'])
featuresDf['Standardabweichung Z-Achse Beschleunigung in m/s^2'] = calculateStandardDeviation(featuresDf['Varianz Z-Achse Beschleunigung in m/s^2'])
featuresDf['Standardabweichung Nick in rad'] = calculateStandardDeviation(featuresDf['Varianz Nick in rad'])
featuresDf['Standardabweichung Roll in rad'] = calculateStandardDeviation(featuresDf['Varianz Roll in rad'])

In [37]:
featuresDf['Standardabweichung X-Achse Beschleunigung in m/s^2'].head()

0    0.49433
1    0.57393
2    1.16544
3    1.19546
4    2.23853
Name: Standardabweichung X-Achse Beschleunigung in m/s^2, dtype: float64

In [38]:
accXDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8972 entries, 0 to 8971
Data columns (total 43 columns):
0     8972 non-null float64
1     8972 non-null float64
2     8972 non-null float64
3     8972 non-null float64
4     8972 non-null float64
5     8971 non-null float64
6     8971 non-null float64
7     8971 non-null float64
8     8971 non-null float64
9     8971 non-null float64
10    8971 non-null float64
11    8971 non-null float64
12    8971 non-null float64
13    8971 non-null float64
14    8970 non-null float64
15    8970 non-null float64
16    8969 non-null float64
17    8947 non-null float64
18    8188 non-null float64
19    1904 non-null float64
20    35 non-null float64
21    9 non-null float64
22    4 non-null float64
23    3 non-null float64
24    2 non-null float64
25    2 non-null float64
26    2 non-null float64
27    1 non-null float64
28    1 non-null float64
29    1 non-null float64
30    1 non-null float64
31    1 non-null float64
32    1 non-null float64
33    1 non-null float64
34    1 non-null float64
35    1 non-null float64
36    1 non-null float64
37    1 non-null float64
38    1 non-null float64
39    1 non-null float64
40    1 non-null float64
41    1 non-null float64
42    1 non-null float64
dtypes: float64(43)
memory usage: 2.9 MB

In [39]:
accXDf.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,...,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42
0,0.50696,0.60484,0.60654,-0.06632,-0.28282,0.81578,1.08174,0.49772,0.50552,0.92548,0.47996,-0.16758,-0.57834,-0.40131,-0.15241,0.76687,0.69020,0.50626,0.81881,0.40996,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.14722,-0.18861,-0.22743,-0.35041,-0.03508,-0.24251,-0.22457,-0.77718,-0.85151,-0.69645,-0.08208,0.14894,0.59424,0.47547,0.39577,0.73042,0.53844,0.12437,-0.06898,-0.02445,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.18452,-0.28135,-0.13307,0.20008,0.48192,0.96789,0.42196,-0.91882,-1.88420,-1.17018,-0.18524,0.20430,-0.25019,-0.58315,-0.97210,-1.08406,-0.98975,0.31152,0.98480,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.54282,0.25046,0.00124,-0.22876,0.61386,0.58309,0.42058,-0.19975,-0.81861,-1.95726,-1.28991,0.56173,0.44946,-0.69763,-0.75723,-0.37586,-0.65304,-1.47237,-0.45764,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.82189,-1.31905,-2.08180,-2.75329,-3.12193,-2.92650,0.20248,1.24999,0.54038,0.04931,0.95890,-0.10620,-0.57522,-1.18027,-0.72963,-0.35378,0.52918,1.81779,2.74143,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
# Änderungen in CSV Datei schreiben
featuresDf.set_index('Zeitstempel in Unixzeit', inplace=True)
featuresDf.to_csv('../daten/merkmale.csv')

In [41]:
pandas.read_csv("../daten/merkmale_datensatz_15_bis_22/merkmale.csv").columns

Index(['Zeitstempel in Unixzeit', 'Breitengrad', 'Laengengrad',
       'Geschwindigkeit in km/h', 'X-Achse Beschleunigungswerte in m/s^2',
       'Y-Achse Beschleunigungswerte in m/s^2',
       'Z-Achse Beschleunigungswerte in m/s^2', 'Gier Messwerte in rad',
       'Nick Messwerte in rad', 'Roll Messwerte in rad',
       'Zeitstempel der Messwerte in ns', 'Anzahl der Messwerte',
       'Start des Zeitfensters in ns seit Start der JVM',
       'Start der Messwerterfassung in ns seit Start der JVM',
       'Start der Belichtung in ns seit Start der JVM',
       'Belichtungszeit in ns',
       'Letzter Zeitstempel der Messwerterfassung in ns seit Start der JVM',
       'Stopp der Messwerterfassung in Unixzeit',
       'Mittelwert X-Achse Beschleunigung in m/s^2',
       'Mittelwert Y-Achse Beschleunigung in m/s^2',
       'Mittelwert Z-Achse Beschleunigung in m/s^2', 'Mittelwert Nick in rad',
       'Mittelwert Roll in rad', 'Gier-Aenderung in rad',
       'Varianz X-Achse Beschleunigung in m/s^2',
       'Varianz Y-Achse Beschleunigung in m/s^2',
       'Varianz Z-Achse Beschleunigung in m/s^2', 'Varianz Nick in rad',
       'Varianz Roll in rad',
       'Standardabweichung X-Achse Beschleunigung in m/s^2',
       'Standardabweichung Y-Achse Beschleunigung in m/s^2',
       'Standardabweichung Z-Achse Beschleunigung in m/s^2',
       'Standardabweichung Nick in rad', 'Standardabweichung Roll in rad'],
      dtype='object')

In [42]:
# Speichert die DatenFrames mit den Messwerten in csv Dateien
accXDf.index.names = ["index"]
accXDf.to_csv('../daten/x-Achse-Beschleunigungswerte.csv')
accYDf.index.names = ["index"]
accYDf.to_csv('../daten/y-Achse-Beschleunigungswerte.csv')
accZDf.index.names = ["index"]
accZDf.to_csv('../daten/z-Achse-Beschleunigungswerte.csv')
nickDf.index.names = ["index"]
nickDf.to_csv('../daten/nick-Messwerte.csv')
rollDf.index.names = ["index"]
rollDf.to_csv('../daten/roll-Messwerte.csv')
azimuthDf.index.names = ["index"]
azimuthDf.to_csv('../daten/azimuth-Messwerte.csv')
sensorTimestampsDf.index.names = ["index"]
sensorTimestampsDf.to_csv('../daten/sensorevent-Zeitstempel.csv')

In [43]:
# Unittests
import unittest

class CalcTest(unittest.TestCase):
    
    
    # Testet die Funktion calcVariance mit einem DataFrame mit den Werten [2.0, 2.0]
    # Der Mittelwert sollte 2.0 sein
    # Das erwartete Ergebnis ist 0.0
    def testCalcVariance2(self):
        meanL = [2.0]
        meanDf = pandas.DataFrame(meanL)
        valuesA = [2.0,2.0]
        valuesDf = pandas.DataFrame([[2.0]])
        npt.assert_almost_equal(calcVariance(meanDf[0],valuesDf), 0.0,2)
        
    # Testet die Funktion calcVariance mit einem DataFrame mit den folgenden Werten:
    # [1.24, 2.5213, 10.434, 42.45, 5.9]
    # Der Mittelwert ist 12.508
    # Die erwartete Varianz ist 234,247016
    def testCalcVariance5(self):
        meanDf = pandas.DataFrame([12.508])
        valuesDf = pandas.DataFrame([[1.24, 2.52, 10.43, 42.45, 5.9]])
        npt.assert_almost_equal(calcVariance(meanDf[0],valuesDf), 234.24702,5)   
    
    # Testet calcVariance mit 0 Datenwerten   
    def testCalcVariance0(self):
        meanDf = pandas.DataFrame([0.0])
        valuesDf = pandas.DataFrame([[0.0]])
        npt.assert_almost_equal(calcVariance(meanDf[0],valuesDf),0.0,2)  
        
    # Testet calcVariance mit negativen Datenwerten   
    def testCalcVarianceNegative(self):
        meanDf = pandas.DataFrame([-24.0])
        valuesDf = pandas.DataFrame([[-2.0,-24.0,-5.0,7.0]])
        npt.assert_almost_equal(calcVariance(meanDf[0],valuesDf),451.5,1) 
        
    # Testet calcVariance mit Muultidimensionalen DataFrame   
    def testCalcVarianceMultidim(self):
        meanDf = pandas.DataFrame([-24.0,0.0])
        valuesDf = pandas.DataFrame([[-2.0,-24.0,-5.0,7.0],[0.0,0.0,0.0,0.0]])
        # Hier wird Numpy Test verwendet um das Ergebnis (zwei Arrays) zu vergleichen
        npt.assert_array_equal(calcVariance(meanDf[0],valuesDf),np.array([ 451.5,0.0])) 
        
    # Dieser Test testet die Funktion calculateStandardDeviation.
    def testCalculateStandardDeviation(self):
        varianceDf = pandas.DataFrame([451.5])
        npt.assert_almost_equal(calculateStandardDeviation(varianceDf[0]),21.24853,5) 
        
    # Testet die Funktion calculateStandardDeviation.
    # Dabei hat das Argument den Wert 0.0.
    def testCalculateStandardDeviationZero(self):
        varianceDf = pandas.DataFrame([0.0])
        npt.assert_almost_equal(calculateStandardDeviation(varianceDf[0]),0.0,2)
    
    #  Testet die Funktion calculateAngelChangeAzimuth mit zwei gleichen rad Werten
    def testCalculateAngelChangeAzimuthEqual(self):
        radiants = pandas.DataFrame([[1.0,1.0]])
        npt.assert_almost_equal(calculateAngelChangeAzimuth(radiants),0.0,2)
    
    # Testet ob die Winkeldifferenz korrekt berechnet wurde für 
    # die Radianten -1.0 und 1.0
    def testCalculateAngelChangeAzimuthOne(self):
        radiants = pandas.DataFrame([[-1.0,1.0]])
        npt.assert_almost_equal(calculateAngelChangeAzimuth(radiants),2.0,2)  
        
    # Testet ob die Winkeldifferenz korrekt berechnet wurde für 
    # die Radianten 1.0 und -1.0
    def testCalculateAngelChangeAzimuthOne2(self):
        radiants = pandas.DataFrame([[1.0,-1.0]])
        npt.assert_almost_equal(calculateAngelChangeAzimuth(radiants),2.0,2)  

    # Testet die Funktion calculateAngelChangeAzimuthValues mit mehreren Werten
    def testCalculateAngelChangeAzimuthValues(self):
        radiants = pandas.DataFrame([[-1.57,1.0,2.0,1.3,1.57]])
        npt.assert_almost_equal(calculateAngelChangeAzimuth(radiants),3.14,2)
        
    # Testet ob die Winkeldifferenz korrekt berechnet wurde für 
    # die Radianten 0.05 und 0.06
    def testCalculateAngelChangeAzimuthSmall(self):
        radiants = pandas.DataFrame([[0.01,0.02]])
        npt.assert_almost_equal(calculateAngelChangeAzimuth(radiants), 0.01,2)  
        
    # Testet ob die Winkeldifferenz korrekt berechnet wurde mit 
    # negative Radianten 
    def testCalculateAngelChangeAzimuthNegativ(self):
        radiants = pandas.DataFrame([[-2.9,-2.0,-1.28]])
        npt.assert_almost_equal(calculateAngelChangeAzimuth(radiants), 1.62,2) 

unittest.main(argv=[''], verbosity=2, exit=False)

testCalcVariance0 (__main__.CalcTest) ... ok
testCalcVariance2 (__main__.CalcTest) ... ok
testCalcVariance5 (__main__.CalcTest) ... ok
testCalcVarianceMultidim (__main__.CalcTest) ... ok
testCalcVarianceNegative (__main__.CalcTest) ... ok
testCalculateAngelChangeAzimuthEqual (__main__.CalcTest) ... ok
testCalculateAngelChangeAzimuthNegativ (__main__.CalcTest) ... ok
testCalculateAngelChangeAzimuthOne (__main__.CalcTest) ... ok
testCalculateAngelChangeAzimuthOne2 (__main__.CalcTest) ... ok
testCalculateAngelChangeAzimuthSmall (__main__.CalcTest) ... ok
testCalculateAngelChangeAzimuthValues (__main__.CalcTest) ... ok
testCalculateStandardDeviation (__main__.CalcTest) ... ok
testCalculateStandardDeviationZero (__main__.CalcTest) ... ok

----------------------------------------------------------------------
Ran 13 tests in 0.025s

OK